body {
  display: flex;
 flex-wrap: wrap;
}

.container {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: 16px;
  background-color: lightblue;
  color: white;
  font-size: 32px;
}
